<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
    <link rel="stylesheet"  href="{%static 'bootstrap-5.0.2-dist/css/bootstrap.css'%}"/> 
</head>  
<body>  
<form method="POST" class="post-form" action="/update/{{produit.id}}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Produits</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label"> Id:</label>  
    <div class="col-sm-4">  
        <input type="text" name="id" id="id_eid" required maxlength="20" value="{{produit.id }}"/>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Nom:</label>  
    <div class="col-sm-4">  
        <input type="text" name="nom" id="id_ename" required maxlength="100" value="{{ produit.nom }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Categorie:</label>  
    <div class="col-sm-4">  
        <input type="text" name="categorie" id="categorie" required maxlength="254" value="{{ produit.categorie }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Prix :</label>  
    <div class="col-sm-4">  
        <input type="text" name="prix" id="prix" required maxlength="15" value="{{ produit.prix }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>  
